@charset "utf-8";
@import url("blockedstyle.css");
.rectangle {
	position:absolute;
width: 1865
}
.nsa {
  position: absolute;
  left: 818px;
  top: 178px;
}
.line1 {
  position: absolute;
  left: 106px;
  top: 669px;
}
	.line2 {
  position: absolute;
  left: 106px;
  top: 916px;

}
	.line3 {
  position: absolute;
  left: 106px;
  top: 961px;
}
h1 {
	position:absolute;
	font-size: 100px;
	left: 500px;
	top: 500px;
	
}
.text1 {
  position: absolute;
  left: 171px;
  top: 710px;
  width: 1636px;
  height: 178px;
	font-size: 20px

	}