@charset "utf-8";
body {
	padding: 0;
	margin: 0;
}
.base {
	position:absolute;
}
.life {
  position: absolute;
  left: 729px;
  top: 125px;
}
pre {
	position:absolute;
	left: 260px;
	top: 250px;
	font-size: 30px;
	color:crimson
}
.joe {
  background-image: url("joe.png");
  position: absolute;
  left: 136px;
  top: 0px;
}
.car {
  position: absolute;
  left: 1468px;
  top: 0px;

}
.flag {

  position: absolute;
  left: 18px;
  top: 889px;
	width: 300px;

}
.salad {
  background-image: url("salad.png");
  position: absolute;
  left: 945px;
  top: 629px;
  width: 941px;
  height: 662px;
  z-index: 4;
}

